<h1>Created new short URL!</h1>

<ul>

  <li>
    <strong>Original URL:</strong>
    <%= @slug.original_url %>
  </li>

  <li>
    <strong>New URL:</strong>
    http://localhost:8080/<%= @slug.alias %>
  </li>

</ul>

<span><%= link "Back to homepage", to: Routes.slug_path(@conn, :new) %></span>
